.App {
  text-align: center;
  height:100%;
  width:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Body Styles */
body {
  font-family: Arial, sans-serif; /* Example font, replace with your preferred font */
  margin: 0;
  padding: 0;
}

/* Landing Page Styles */
.landing-page {
  background-color: #e9e9e9; /* Light gray background */
}

/* Header Styles */
.header {
  background-color: #29ABCA; /* Replace with your main background color */
  color: #fff; /* Replace with your main text color */
}

.header h1 {
  font-size: 1.8rem; /* Adjust font size as needed */
}
